<!DOCTYPE html>
<html>
  <head>
    <title>GApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="application.css">
    <style>
	.form-container {
	  background-color: #f9f9f9;
	  border: 2px solid #ddd;
	  padding: 20px;
	  border-radius: 5px;
	  margin-top: 20px;
	  width: 60%;
	  margin-left: auto;
	  margin-right: auto;
	}
	
	.form-container h2 {
	  font-size: 1.5em;
	  margin-bottom: 15px;
	}
	
	.field {
	  margin-bottom: 15px;
	}
	
	.form-control {
	  width: 100%;
	  padding: 10px;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	}
	
	.btn {
	  background-color: #007bff;
	  color: #fff;
	  border: none;
	  padding: 10px 20px;
	  border-radius: 4px;
	  cursor: pointer;
	}
	
	.btn:hover {
	  background-color: #0056b3;
	}	
    </style>
	</head>
 <body>
<%= form_for(post, url: user_posts_path(@set_current_user)) do |f| %>
  <div class="form-container">
    <h2>Create a New Post</h2>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class="field">
      <%= f.label :text %>
      <%= f.text_area :text, class: 'form-control' %>
    </div>
    <div class="actions">
      <%= f.submit 'Create Post', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<body>
</html>
